<h2><i18n>lystore.instruction.title.delete</i18n></h2>

<div>
    <div class="row">
        <i18n>lysctore.instruction.text.delete.start</i18n>
        [[instructions.selected.length]]
        <i18n ng-show="instructions.selected.length === 1">lysctore.instruction.text.delete.one.end</i18n>
        <i18n ng-show="instructions.selected.length > 1">lysctore.instruction.text.delete.many.end</i18n>
    </div>

    <div class="right-magnet vertical-spacing">
        <input type="button" class="cancel" ng-click="cancelInstructionLightbox()" i18n-value="cancel"/>
        <input type="submit" class="button" ng-click="deleteInstructions()" i18n-value="confirm"/>
    </div>
</div>