<div class="loading-bar" ng-class="{loading: instruction.loading}"></div>

<div ng-if="instruction.loading">
    <h1> Chargement en cours ...</h1>
</div>
<div ng-if="!instruction.loading" class="row ten centered">
    <h1>
        <i18n ng-show="instruction.id == undefined">lystore.instruction.add</i18n>
        <i18n ng-show="instruction.id !== undefined">lystore.instruction.modify</i18n>
    </h1>
    <article>
        <form ng-submit="sendInstruction()" >
            <label class="row twelve vertical-spacing">
                        <span class="twelve">
                            <i18n>lystore.instruction.object</i18n>
                        </span>
                <input type="text" class="twelve" ng-model="instruction.object" required/>
            </label>
            <label class="row twelve vertical-spacing">
                        <span class="twelve">
                            <i18n>lystore.exercise.number</i18n>
                        </span>
                <select  ng-model="instruction.id_exercise" class="twelve"
                         ng-init="instruction.id_exercise = instruction.id_exercise ||
                         (exercises.all.length > 0 ? exercises.all[0].id : null)"
                         ng-options="exercise.id as exercise.year_exercise for exercise in exercises.all"
                >
                </select>
            </label>
            <label class="row twelve vertical-spacing">
                        <span class="twelve">
                            <i18n>lystore.instruction.official.number</i18n>
                        </span>
                <input type="text" class="twelve" ng-model="instruction.cp_number" required>
            </label>
            <label class="row twelve vertical-spacing">
                        <span class="twelve">
                            <i18n>lystore.instruction.service.number</i18n>
                        </span>
                <input type="text" class="twelve" ng-model="instruction.service_number" required>
            </label>
            <label class="row vertical-spacing twelve-mobile row-mobile">
                                <span class="cell ">
                                    <i18n>lystore.submitted.to.cp</i18n>
                                </span>
                <switch-toggle ng-model="instruction.submitted_to_cp"
                               class="cell"></switch-toggle>
                <date-picker i18n-placeholder="lystore.instruction.date.place_holder" ng-model="instruction.date_cp" ng-disaled >
                </date-picker>
            </label>
            <label class="row twelve vertical-spacing">
                        <span class="twelve">
                            <i18n>lystore.instruction.commenter</i18n>
                        </span>
                <textarea ng-model="instruction.comment"
                          cols="20" rows="10" maxlength="300"></textarea>
            </label>
            <div class="row twelve">
                <h2 class="vertical-spacing">
                    <i18n>lystore.instruction.operations</i18n>
                </h2>
                <article>
                    <table class="twelve">
                        <thead>
                        <td class="two"><i18n>label</i18n></td>
                        <td class="two"><i18n>lystore.number.sub</i18n></td>
                        <td class="two"><i18n>amount</i18n></td>
                        <td class="two"><i18n>lystore.operation.status</i18n></td>
                        <td class="one aligne-text-center">&nbsp</td>
                        </thead>
                        <tbody>
                        <tr ng-repeat="operationAdd in instruction.operations">
                            <td>[[operationAdd.label.label]]</td>
                            <td></td>
                            <td>[[operationAdd.amount? operationAdd.amount + " €" : '-']]</td>
                            <td>
                                <switch-toggle ng-model="operationAdd.status" class="cell">
                                </switch-toggle>
                            </td>
                            <td class="one aligne-text-center" ng-click="dropOperation($index, operationAdd)">
                                <i  class="trash"></i>
                            </td>
                        </tr>
                        <tr ng-show="isNewOperation">
                            <td>
                                <select ng-model="instruction.operation" class="twelve" ng-change="operationIsSelect()">
                                    <option value="" disabled selected ><i18n>Selectionnez une opération</i18n></option>
                                    <option ng-repeat="operationSelect in operations.all" value=[[operationSelect]]>[[operationSelect.label.label]]</option>
                                </select>
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="one aligne-text-center" ng-click="cancelFormAddOperation()">
                                <i class="close-2x"></i>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <input type="button"  ng-disabled="isNewOperation" ng-click="addOperationLigne()" i18n-value="add" />
                </article>
            </div>
            <div class="right-magnet vertical-spacing">
                <input type="button" class="cancel" ng-click="cancelInstructionForm()" i18n-value="cancel"/>
                <input type="submit" class="button" ng-disabled="!(instruction.object)"/>
            </div>
        </form>
    </article>
</div>