<div class="delete-confirmation">
    <h2>
        <i18n>lystore.basket.delete.title</i18n>
    </h2>
    <p>
        <i18n>lystore.basket.delete.message</i18n> :
    </p>

    <div class="cell twelve">
        <div class="row article-equipment">
            <h4 class="highlighted"><i18n>description</i18n></h4>
            <div class="two cell basket-image">
                <img ng-src="[[basketToDelete.equipment.image]]" ng-show="basketToDelete.equipment.image!==null && basketToDelete.equipment.image!==undefined " />
                <img skin-src="/img/illustrations/pages-default.png" ng-show="basketToDelete.equipment.image===null || basketToDelete.equipment.image===undefined "/>
            </div>
            <div class="nine cell basket-equipment">
                <h3>[[basketToDelete.equipment.name]]</h3>
                <p ng-bind-html="basketToDelete.equipment.summary" ></p>
                <p>
            </div>
        </div>
        <div class="row options-head" ng-show="basketToDelete.options.length > 0">
            <h4 class="highlighted"><i18n>multi-combo.options</i18n></h4>
            <table class="twelve option-table">
                <thead>
                <tr>
                    <td>Nom</td>
                    <td>Prix Unitaire</td>
                    <td>Quantité</td>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="option in basketToDelete.options">
                    <td>[[option.name]]</td>
                    <td>[[calculatePriceTTC(option.price, option.tax_amount, 2) ]]</td>
                    <td>[[option.amount]]</td>
                </tr>
                </tbody>
            </table>
        </div>


        <div class="twelve">
            <h4 class="highlighted">
                <i18n>lystore.order</i18n>
            </h4>
            <p>
                <i18n>
                    lystore.expected.delivery
                </i18n>
                <strong>[[calculeDeliveryDate()]]</strong>
            </p>
            <p>
                <span> <i18n>lystore.quantity</i18n> :</span><strong>[[basketToDelete.amount]]</strong>
            </p>
            <p>
                <span><i18n>price</i18n> :</span><strong ng-bind="calculatePriceOfBasket(basketToDelete , 2, true) | currency"></strong>
            </p>
        </div>

    </div>
    <div class="right-magnet">
        <input type="button" class="cancel" ng-click="cancelBasketDelete()" i18n-value="cancel"/>
        <input type="submit" class="button" ng-click="deleteBasket(basketToDelete)"/>
    </div>
</div>