<div  ng-controller="basketController">
    <div ng-show="baskets.all.length > 0">
        <div class="vertical-spacing-twice right-magnet twelve-mobile">
            <h3 class="cell horizontal-margin horizontal-spacing ng-binding"><i18n>total</i18n> :
                <span class="color-orange" ng-bind="calculatePriceOfEquipmentsProposal(baskets, 2)| currency"></span>
            </h3>
            <input type="button" ng-click="takeClientProject(baskets)" i18n-value="lystore.take.order"
                   ng-disabled="campaign.purse_enabled && !validOrder(baskets)"/>
        </div>
        <div class="basket-list">
            <div ng-repeat="basket in baskets.all track by $index" class="row">
                <h1 ng-class="{disabled: equipment.status !== 'AVAILABLE'} " ng-show="basket.equipment.status !== 'AVAILABLE'">
                    <i18n ng-show="basket.equipment.status === 'UNAVAILABLE'">lystore.UNAVAILABLE</i18n>
                    <i18n ng-show="basket.equipment.status === 'OUT_OF_STOCK'">lystore.OUT_OF_STOCK</i18n></h1>
                <article class="basket-item twelve cell"
                         ng-class="{ openedOptions: display.equipmentOption[$index], disabled: basket.equipment.status !== 'AVAILABLE' }">
                    <label class="checkbox">
                        <input type="checkbox" ng-model="basket.selected"
                               ng-checked="basket.selected">
                        <span></span>
                    </label>
                    <div class="row article-equipment">
                        <div class="one cell basket-image zero-mobile">
                            <img ng-src="[[basket.equipment.image]]" ng-show="basket.equipment.image!==null && basket.equipment.image!==undefined " />
                            <img skin-src="/img/illustrations/pages-default.png" ng-show="basket.equipment.image===null || basket.equipment.image===undefined "/>
                        </div>
                        <div class="horizontal-spacing-twice three cell basket-equipment twelve-mobile">
                            <h3>[[basket.equipment.name]]</h3>
                            <p ng-bind-html="basket.equipment.summary" ></p>
                            <div>
                                <a ng-init="display.equipmentOption[$index] = false" ng-click="displayOptions($index)" ng-show="basket.options.length > 0">
                                    [[lang.translate(display.equipmentOption[$index] ? 'lystore.options.hide' : 'lystore.options.show')]]
                                </a>
                            </div>
                            <div ng-show="basket.options.length > 0 && display.equipmentOption[$index]">
                                <table class="centered ten vertical-spacing option-table">
                                    <thead>
                                    <tr>
                                        <td>
                                            <i18n>price</i18n>
                                        </td>
                                        <td>
                                            <i18n>lystore.quantity</i18n>
                                        </td>
                                        <td>
                                            <i18n>price</i18n>
                                        </td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="option in basket.options">
                                        <td>[[option.name]]</td>
                                        <td>[[option.amount]]</td>
                                        <td><span
                                                ng-bind="calculatePriceTTC(option.price, option.tax_amount, 2) | currency"></span>
                                        </td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="four cell basket-delivery twelve-mobile">
                            &nbsp;
                            <!--<h3>-->
                            <!--<i18n>-->
                            <!--lystore.expected.delivery-->
                            <!--</i18n>-->
                            <!--</h3>-->
                            <!--[[calculeDeliveryDate()]]-->
                        </div>
                        <div class="four cell basket-amount zero-mobile">

                            <div class="right-magnet four cell">
                                <span ng-if="isProposed(basket)"> <i18n>lystore.priceProposal</i18n></span>
                                <span ng-if="!isProposed(basket)"><i18n>price</i18n></span>
                                <input type="number"
                                       ng-keypress="avoidDecimals($event)"
                                       step="0.01"
                                       min="0"
                                       ng-if="basket.display_price_editable"
                                       ng-model="basket.price_proposal"
                                       ng-blur="updateBasketPriceProposal(basket)"/>

                                <p ng-bind="priceDisplay(basket) | currency" ng-if="!basket.display_price_editable"></p>
                                <i class="notes-icon" tooltip="Modifier le prix"
                                   ng-show="basket.price_editable && !basket.display_price_editable"
                                   ng-click="displayPriceEdition(basket)"></i>
                                <i class="refused-status" tooltip="Réinitialiser le prix"
                                   ng-show="basket.display_price_editable" ng-click="resetPriceProposal(basket)"></i>
                            </div>


                            <!--<div class="row">
                                <input type="button"  ng-click="displayLightboxDelete(basket)"
                                       class="right-magnet cancel vertical-spacing" i18n-value="delete"/>
                            </div> -->
                        </div>
                    </div>
                    <div class="twelve cell">
                        <div class="ten cell ">
                            <h2>
                                <i18n>comment</i18n>
                            </h2>
                            <textarea style="resize: none;" ng-model="basket.comment"
                                      ng-blur="updateBasketComment(basket)"></textarea>
                        </div>
                        <div class="right-magnet">
                            <i18n>lystore.quantity</i18n>
                            :
                            <input type="number" step="1" min="0" ng-model="basket.amount"
                                   ng-keypress="avoidDecimals($event)"
                                   ng-blur="updateBasketAmount(basket)"/>
                            <!--p ng-bind="calculatePriceOfBasket(basket , 2, true) | currency"></p-->
                        </div>
                    </div>
                    <div class="twelve cell">
                        <div class="row">
                            <input type="button" ng-click="displayLightboxDelete(basket)"
                                   class="left-magnet cancel vertical-spacing" i18n-value="delete"/>
                        </div>
                        <p class="right-magnet cancel vertical-spacing"
                           ng-bind="calculatePriceOfBasketProposal(basket , 2, true) | currency"></p>
                    </div>
                    <div class="row twelve">
                        <div class="row basket-file-list"
                             ng-if="basket.equipment.file === true && basket.files.length > 0">
                            <h3>
                                <i18n>lystore.basket.file.name</i18n>
                            </h3>
                            <ul class="twelve">
                                <li ng-repeat="file in basket.files" class="twelve basket-file"
                                    ng-click="basket.downloadFile(file)">
                                    <a>[[ file.name || file.filename ]]</a>
                                    <i class="right-magnet"
                                       ng-class="{ close: file.status !== 'loading', loading: file.status === 'loading'}"
                                       ng-click="deleteBasketDocument(basket, file)"></i>
                                </li>
                            </ul>
                        </div>
                    </div>


                    <div class="horizontal-spacing-twice zero block-mobile basket-amount twelve-mobile">
                        <div class="twelve-mobile">
                            <h5>
                                <i18n>lystore.quantity</i18n> :
                                <input type="number" step="1" min="0" ng-model="basket.amount"
                                       ng-keypress="avoidDecimals($event)"
                                       ng-blur="updateBasketAmount(basket)"/>
                            </h5>

                            <h5>
                                <span>
                                    <i18n>total</i18n> : <span
                                        ng-bind="calculatePriceOfBasketProposal(basket , 2, true) | currency"></span>
                                </span>
                            </h5>
                        </div>

                        <div class="row">
                            <input type="button"  ng-click="displayLightboxDelete(basket)"
                                   class="right-magnet cancel vertical-spacing" i18n-value="delete"/>
                        </div>
                    </div>
                    <div ng-if="basket.equipment.file === true">
                        <input type="button" value="Déposer des documents" ng-click="openAddDocumentsLightbox(basket)"/>
                    </div>
                </article>
            </div>
        </div>
    </div>
    <div ng-show="baskets.all.length === 0" class=" row cell centered empty-basket-message">
        <div class="cell twelve-mobile centered-text">
            <img src="/lystore/public/img/basket.png" />
        </div>
        <div class="cell centered-text four twelve-mobile" >
            <h4><i18n>lystore.info.empty.basket</i18n></h4>
        </div>
    </div>
    <lightbox show="display.lightbox.deleteBasket" on-close="cancelBasketDelete()">
        <container template="basket.delete"></container>
    </lightbox>

    <lightbox show="display.lightbox.confirmOrder" on-close="cancelConfirmOrder()">
        <container template="basket.order"></container>
    </lightbox>

    <lightbox show="display.lightbox.createProject" on-close="cancelProjectCreate()">
        <container template="basket.project"></container>
    </lightbox>

    <lightbox show="display.lightbox.addDocuments" on-close="display.lightbox.addDocuments = false">
        <upload-files end="endUpload"
                      upload-uri="'/lystore/basket/' + basket.id + '/file'"></upload-files>
    </lightbox>
</div>