<div  ng-controller="basketController">
    <div ng-show="baskets.all.length > 0">
        <div class="vertical-spacing-twice right-magnet twelve-mobile">
            <h3 class="cell horizontal-margin horizontal-spacing ng-binding"><i18n>total</i18n> :
                <span class="color-orange" ng-bind="calculatePriceOfEquipmentsProposal(baskets, 2)| currency"></span>
            </h3>
            <input type="button" ng-click="takeClientProject(baskets)" i18n-value="lystore.take.order"
                   ng-disabled="campaign.purse_enabled && !validOrder(baskets)"/>
        </div>
        <div class="basket-list">
            <div ng-repeat="basket in baskets.all track by $index" class="row">
                <h1 ng-class="{disabled: equipment.status !== 'AVAILABLE'} " ng-show="basket.equipment.status !== 'AVAILABLE'">
                    <i18n ng-show="basket.equipment.status === 'UNAVAILABLE'">lystore.UNAVAILABLE</i18n>
                    <i18n ng-show="basket.equipment.status === 'OUT_OF_STOCK'">lystore.OUT_OF_STOCK</i18n></h1>
                <article class="basket-item twelve cell"
                         ng-class="{ openedOptions: display.equipmentOption[$index], disabled: basket.equipment.status !== 'AVAILABLE' }">
                    <div class="cell width-40">
                        <label class="checkbox">
                            <input type="checkbox" ng-model="basket.selected"
                                   ng-checked="basket.selected">
                            <span></span>
                        </label>
                    </div>
                    <div class="cell width-100-40">
                        <div class="row article-equipment">
                            <div class="one cell basket-image zero-mobile">
                                <img ng-src="[[basket.equipment.image]]"
                                     ng-show="basket.equipment.image!==null && basket.equipment.image!==undefined "/>
                                <img skin-src="/img/illustrations/pages-default.png"
                                     ng-show="basket.equipment.image===null || basket.equipment.image===undefined "/>
                            </div>
                            <div class="cell eight">
                                <div class="eleven centered">
                                    <h3>[[basket.equipment.name]]</h3>
                                    <p ng-bind-html="basket.equipment.summary"></p>
                                    <a ng-init="display.equipmentOption[$index] = false"
                                       ng-click="displayOptions($index)"
                                       ng-show="basket.options.length > 0">
                                        [[lang.translate(
                                        display.equipmentOption[$index]
                                        ? 'lystore.options.hide'
                                        :'lystore.options.show'
                                        )]]
                                    </a>
                                </div>
                            </div>
                            <div class="three cell text-right">
                                <div class="vertical-spacing-twice">
                                    <span ng-if="isProposed(basket) || basket.display_price_editable"> <i18n>lystore.priceProposal</i18n> :</span>
                                    <span ng-if="!isProposed(basket) && !basket.display_price_editable"><i18n>price</i18n> :</span>
                                    <input type="number"
                                           class="number-input"
                                           ng-keypress="avoidDecimals($event)"
                                           step="0.01"
                                           min="0"
                                           ng-if="basket.display_price_editable"
                                           ng-model="basket.price_proposal"
                                           ng-blur="updateBasketPriceProposal(basket)"/>

                                    <span ng-bind="priceDisplay(basket) | currency" class="price-label"
                                          ng-if="!basket.display_price_editable"></span>
                                    <i class="notes-icon" tooltip="lystore.price.edit"
                                       ng-show="basket.price_editable && !basket.display_price_editable"
                                       ng-click="displayPriceEdition(basket)"></i>
                                    <i class="refused-status" tooltip="lystore.price.reset"
                                       ng-show="basket.display_price_editable"
                                       ng-click="resetPriceProposal(basket)"></i>
                                </div>
                                <div class="vertical-spacing-twice">
                                    <i18n>lystore.quantity</i18n>
                                    :
                                    <input type="number" step="1" min="0" ng-model="basket.amount"
                                           class="number-input"
                                           ng-keypress="avoidDecimals($event)"
                                           ng-blur="updateBasketAmount(basket)"/>
                                    <!--p ng-bind="calculatePriceOfBasket(basket , 2, true) | currency"></p-->
                                </div>

                            </div>
                        </div>
                        <div ng-show="basket.options.length > 0 && display.equipmentOption[$index]">
                            <div class="twelve row">
                                <h4 class="cell">
                                    <i18n>lystore.options</i18n>
                                    :
                                </h4>
                            </div>
                            <table class="twelve vertical-spacing option-table">
                                <thead>
                                <tr>
                                    <td>
                                        <i18n>price</i18n>
                                    </td>
                                    <td>
                                        <i18n>lystore.quantity</i18n>
                                    </td>
                                    <td>
                                        <i18n>price</i18n>
                                    </td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="option in basket.options">
                                    <td>[[option.name]]</td>
                                    <td>[[option.amount]]</td>
                                    <td><span
                                            ng-bind="calculatePriceTTC(option.price, option.tax_amount, 2) | currency"></span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="row twelve vertical-spacing-four">
                            <div class="twelve row">
                                <h4 class="cell">
                                    <i18n>lystore.basket.file.name</i18n>
                                    :
                                </h4>
                                <button class="right-magnet" ng-click="openAddDocumentsLightbox(basket)">
                                    Ajouter un document
                                </button>
                            </div>
                            <p ng-if="basket.files.length === 0">
                                Aucun document ajouté sur la demande
                            </p>
                            <div class="row basket-file-list"
                                 ng-if="basket.equipment.file === true && basket.files.length > 0">
                                <ul class="twelve">
                                    <li ng-repeat="file in basket.files" class="twelve basket-file row">
                                        <a class="cell eleven" ng-click="basket.downloadFile(file)">[[ file.name ||
                                            file.filename ]]</a>
                                        <i class="cell one text-right"
                                           ng-class="{ close: file.status !== 'loading', loading: file.status === 'loading'}"
                                           ng-click="deleteBasketDocument(basket, file)"></i>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="twelve cell vertical-spacing-four">
                            <div class="row">
                                <h4 class="cell">
                                    <i18n>comment</i18n>
                                    :
                                </h4>
                                <button class="right-magnet" ng-if="basket.comment === null"
                                        ng-click="basket.commentOnEdition = true">
                                    Ajouter un commentaire
                                </button>
                            </div>
                            <div class="row" ng-init="basket.commentOnEdition = false">
                                <p ng-if="basket.comment === null && basket.commentOnEdition === false">
                                    Aucun commentaire sur la demande
                                </p>
                                <p ng-if="basket.comment !== null && basket.commentOnEdition === false"
                                   ng-click="basket.commentOnEdition = true" tooltip="Modifier le commentaire">
                                    [[basket.comment]]
                                </p>
                                <textarea style="resize: none;" ng-model="basket.comment"
                                          auto-height
                                          ng-if="basket.commentOnEdition === true"
                                          ng-blur="basket.commentOnEdition = false; updateBasketComment(basket)"></textarea>
                            </div>
                        </div>
                        <div class="row border top">
                            <div class="cell">
                                <input type="button" ng-click="displayLightboxDelete(basket)"
                                       class="right-magnet cancel vertical-spacing" i18n-value="delete"/>
                            </div>
                            <h1 class="right-magnet vertical-spacing">
                                <span ng-bind="calculatePriceOfBasketProposal(basket , 2, true) | currency"></span>
                            </h1>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
    <div ng-show="baskets.all.length === 0" class=" row cell centered empty-basket-message">
        <div class="cell twelve-mobile centered-text">
            <img src="/lystore/public/img/basket.png" />
        </div>
        <div class="cell centered-text four twelve-mobile" >
            <h4><i18n>lystore.info.empty.basket</i18n></h4>
        </div>
    </div>
    <lightbox show="display.lightbox.deleteBasket" on-close="cancelBasketDelete()">
        <container template="basket.delete"></container>
    </lightbox>

    <lightbox show="display.lightbox.confirmOrder" on-close="cancelConfirmOrder()">
        <container template="basket.order"></container>
    </lightbox>

    <lightbox show="display.lightbox.createProject" on-close="cancelProjectCreate()">
        <container template="basket.project"></container>
    </lightbox>

    <lightbox show="display.lightbox.addDocuments" on-close="display.lightbox.addDocuments = false">
        <upload-files end="endUpload"
                      upload-uri="'/lystore/basket/' + basket.id + '/file'"></upload-files>
    </lightbox>
</div>