<button class="search-and-select-button" ng-click="toggleVisibility()" ng-class="{'opened': show}" >[[ngModel.UAI + " - " + ngModel.name]]</button>
<div class="search-and-select-panel " ng-class="{'hidden': !show}">
    <div class="search-and-select-bar">
        <input ng-model="search.input" placeholder="[[lang.translate('search')]]"/>
        <i class="icon-search-cancel" ng-click="search.reset()" ng-show="search.input"></i>
    </div>
    <ul>
        <li ng-repeat="item in items = (options |filter:fsearch | orderBy: orderBy)"
            ng-click="toggleItem(item)"
            ng-class="{'selected': isSelected(item)}">
            [[display(item)]]
        </li>
    </ul>
</div>
