<h2><i18n ng-show="supplier.id == undefined">lystore.supplier.add</i18n><i18n ng-show="supplier.id !== undefined">lystore.supplier.modify</i18n></h2>
<form ng-submit="validSupplier(supplier)">
    <div class="row">
        <label class="cell twelve">
            <span class="four cell twelve-mobile">
                <i18n>lystore.supplier.name</i18n>
            </span>
            <input class="cell eight twelve-mobile" type="text" ng-model="supplier.name" required />
        </label>
        <label class="cell twelve">
            <span class="four cell twelve-mobile">
                <i18n>address</i18n>
            </span>
            <textarea class="cell eight twelve-mobile" rows="10" ng-model="supplier.address" required></textarea>
        </label>
        <label class="cell twelve">
            <span class="four cell twelve-mobile">
                <i18n>phone</i18n>
            </span>
            <input class="cell eight twelve-mobile" type="text" ng-model="supplier.phone" required />
        </label>
        <label class="cell twelve">
            <span class="four cell twelve-mobile">
                <i18n>email</i18n>
            </span>
            <input type="email" class="cell eight twelve-mobile" ng-model="supplier.email" required />
        </label>
    </div>
    <div class="right-magnet">
        <input type="button" class="cancel" ng-click="cancelSupplierForm()" value="Annuler" />
        <input type="submit" class="button" />
    </div>
</form>