<h2><i18n>lystore.purse.modify</i18n></h2>
<form ng-submit="validPurse(purse)">
    <div class="row">
        <label class="cell twelve">
                    <span class="four cell">
                        <i18n>amount</i18n>
                    </span>
            <input class="cell eight" type="number" step="0.01" ng-model="purse.amount" required />
        </label>
    </div>
    <div class="right-magnet">
        <input type="button" class="cancel" ng-click="cancelPurseForm()" value="Annuler" />
        <input type="submit" class="button" />
    </div>
</form>