<div ng-controller="PurseController" class="purse-management">
    <div class="six centered twelve-mobile">
        <h1 class="centered-text">[[campaign.name]]</h1>
        <div class="tools right-magnet">
            <button ng-click="openPurseImporter()"><i18n>lystore.campaign.purse.import</i18n></button>
            <button><i18n>lystore.campaign.purse.export</i18n></button>
        </div>
        <article class="row">
            <table class="twelve">
                <thead>
                <tr>
                    <td>checkbox</td>
                    <td><i18n>UAI</i18n></td>
                    <td><i18n>name</i18n></td>
                    <td><i18n>lystore.campaign.purse</i18n></td>
                </tr>
                </thead>
            </table>
        </article>
    </div>
    <lightbox show="lightbox.open" on-close="lightbox.open = false">
        <form ng-submit="importPurses(importer)">
            <h2><i18n>lystore.campaign.purse.import.title</i18n> [[campaign.name]]</h2>
            <div class="info">
                <p><i18n>lystore.campaign.purse.import.definition</i18n></p>
                <p>
                    <i18n>lystore.campaign.purse.import.skeleton</i18n>
                    <a href="/lystore/public/import/skeleton.csv">skeleton.csv</a>
                </p>
            </div>
            <div class="warning" ng-if="importer.message">
                <p>[[lang.translate(importer.message)]]</p>
            </div>
            <div class="vertical-spacing">
                <p class="six centered">
                    <i18n>csv.file</i18n>
                    <input type="file" files-input-change ng-model="importer.files">
                </p>
                </p>
                <div class="row">
                    <button class="right-magnet" ng-disabled="!importer.isValid()">
                        <i18n>import</i18n>
                    </button>
                </div>
        </form>
    </lightbox>
</div>