<h1><i18n>lystore.order.operation.title</i18n></h1>
<table class="listOperationSelect">
    <tbody>
    <tr ng-repeat="operation in operations.all">
        <td class="selectOperationRow"
            ng-class="{ greyRow: $index % 2 === 1 }"
            ng-if="operation.status == 'true'"
            ng-click="operationSelected(operation)">
            <i18n>lystore.instruction</i18n>&nbsp
            [[operation.instruction? operation.instruction.cp_number  : ' non affectée ' ]] &nbsp - &nbsp
            [[operation.label.label]]
        </td>
    </tr>
    <tr ng-show="isOperationsIsEmpty">
        <td>
            <opt ng-click="redirectTo('/operation')">
                <i18n>lystore.operation.empty</i18n>
            </opt>
        </td>
    </tr>
    </tbody>
</table>
<input type="button" class="cancel right-magnet " ng-click="cancelBasketDelete()" i18n-value="cancel"/>