<article ng-controller="orderRegionController" class=" order-client-sent">
    <h1>
        <i18n>lystore.order.update</i18n>
    </h1>
    <form>
        <div class="row vertical-spacing-four">
            <label class="four right-padding-form-field cell">
                <i18n>lystore.structure.label</i18n>
                :
            </label>
            <label class="six cell">[[orderToUpdate.structure.name]]</label>
        </div>
        <div class="row vertical-spacing-four">
            <label class="four right-padding-form-field cell">
                <i18n>CAMPAIGN</i18n>
            </label>
            <label class="six cell">[[orderToUpdate.campaign.name]]</label>
        </div>
        <div class="row vertical-spacing-four">
            <label class="four right-padding-form-field cell">
                <i18n>lystore.project</i18n>
            </label>
            <label class="six cell">[[orderToUpdate.project.title.name]]</label>
        </div>
        <div class="row vertical-spacing-four">
            <label class="four right-padding-form-field cell">
                <i18n>lystore.project.comment</i18n>
            </label>
            <label ng-if="orderToUpdate.project.description"
                   class="six cell comment">[[orderToUpdate.project.description]]</label>

            <label ng-if="!orderToUpdate.project.description"
                   class="six cell">-</label>
        </div>
        <div class="row vertical-spacing-four">
            <label class="four right-padding-form-field cell">
                <i18n>room</i18n>
            </label>
            <label class="six cell">[[orderToUpdate.project.room]]</label>
        </div>
        <div class="row vertical-spacing-four">
            <label class="four right-padding-form-field cell">
                <i18n>building</i18n>
            </label>
            <label class="six cell">[[orderToUpdate.project.building]]</label>
        </div>

        <div class="row vertical-spacing-four">
            <label class="four right-padding-form-field cell">
                <i18n>lystore.contract.type.name</i18n>
            </label>
            <label class="six cell">[[contract_type]]</label>
        </div>


        <div class="row vertical-spacing-four">
            <label class="four right-padding-form-field cell">
                <i18n>lystore.amountTTC</i18n>
            </label>
            <label class="six cell">[[getTotal()]] €</label>
        </div>
        <div class="row vertical-spacing-four">
            <label class="four right-padding-form-field cell">
                <i18n>EQUIPMENT</i18n>
            </label>
            <search-and-select
                    ng-change="getContractType()"
                    class="six cell"
                               options="equipments.all"
                               param1="'contract_type_name'"
                               param2="'name'"
                               ng-model=" orderToUpdate.equipment"
                               search-on="name" order-by="name"
            >
            </search-and-select>
        </div>
        <div class="row vertical-spacing-four">
            <label class="four right-padding-form-field cell">
                <i18n>quantity.full</i18n>
            </label>
            <input min="0" type="number" ng-model="orderToUpdate.amount"/>

        </div>
        <div class="row vertical-spacing-four">
            <label class="four right-padding-form-field cell">
                <i18n>lystore.price.TTC</i18n>
            </label>
            <input type="number" step="0.01"
                   min="0"
                   ng-model="orderToUpdate.price_proposal "
            />
        </div>
        <div ng-if="orderToUpdate.rank != null && orderToUpdate.rank != undefined && orderToUpdate.campaign.orderPriorityEnable()"
             class="row vertical-spacing-four">
            <label class="four right-padding-form-field cell">
                <i18n>lystore.project.priority.order</i18n>
            </label>
            <input ng-model="orderToUpdate.rank" type="number" min="1" step="1"/>

        </div>


        <div class="row vertical-spacing-four">
            <label class="four right-padding-form-field cell">
                <i18n>comment</i18n>
            </label>
            <textarea auto-height=""
                      style="resize: none; height: 62px;" ng-model="orderToUpdate.comment"
                      class="ng-pristine ng-valid ng-touched">

            </textarea>
        </div>

        <lightbox on-close="display.lightbox.validOrder = false;"
                  show="display.lightbox.validOrder">
            <container template="validOrder.lightbox"></container>
        </lightbox>
        <div class="row">
            <div class="right-magnet">
                <input type="button" class=" cancel" ng-click="cancelUpdate()"
                       i18n-value="cancel"/>

                <input type="button" ng-if="isUpdating" class=" button" ng-disabled="!isValidFormUpdate()"
                       ng-click="updateOrderConfirm()"
                       i18n-value="lystore.order.operation.select"/>

                <input type="button" ng-if="isUpdatingFromOrder" ng-disabled="!isValidFormUpdate()" class=" button"
                       ng-click="updateLinkedOrderConfirm()"
                       i18n-value="confirm"/>

            </div>
        </div>
    </form>

</article>