parameter-table
{
  .parameter-table{
    position: fixed;
    display: block;
    right: -200px;
    top: 146px;
    width: 240px;
    &.show{
      right: 0px;
      transition: right 250ms ease;
    }
    &.hide{
      right: -200px;
      transition: right 250ms ease;
    }
  }

  .button-puce{
    width: 40px;
    height: 40px;
    background: #FF8500;
    border-radius: 15px 0 0 15px;
    i.param{
      &:before{
        content: '\e854';
        font-size: 25px;
        color: white;
        position: absolute;
        margin-left: 10px;
        margin-top: 6.5px;
      }
    }
  }
  article{
    display: block;
    width: 200px ;
    overflow-y: auto;
    height: 60vh;
  }

}