.tabs-container{
  height: 40px;
  border-bottom: #ddd 1px solid;
  padding: 0;
  margin-bottom: 10px;
  .menu{
    background: white;
    margin: 0;
    height: 34px;
    max-height: 40px;
    padding: 5px 15px 0 15px;
    border: #ccc 0.5px solid;
    border-radius: 15px 15px 0% 0%;
    line-height: 30px;
    z-index: 0;
    position: relative;
    &.selected{
      cursor: context-menu;
      background: #4bafd5 !important;
      color: white;
      margin-left: -5px;
      margin-right: -5px;
      z-index: 2 !important;
    }
  }
}

.tr-warning{
  background: #ffe7cc;
}
.warning-icon{
  @include fonticon();
  &:before {
    content: '\e903';
  }
}

vald-icon{
  @include fonticon();
  &:before {
    content: '\e871';
  }
}
.tr-valid{
  background: #c7f0c7;
}
.tr-error{
  background-color: #ffa6a6;
  .content:before {
    content: '\e903';
  }
}