<div class="delete-project-confirmation">
    <h2>
        <i18n>lystore.project.delete.title</i18n>
    </h2>
    <p ng-show="projectsToDelete.length === 1 ">
        <i18n>lystore.project.delete.message</i18n>
        :
    </p>
    <p ng-show="projectsToDelete.length > 1">
        <i18n>lystore.projects.delete.message</i18n>
        :
    </p>
    <div ng-repeat="project in projectsToDelete track by $index">

        <div style="border-bottom: #cccccc solid 1px;">
            <h3>[[project.name]]</h3>
        </div>
        <div>
            <h4>[[project.title.name]]</h4>
            <h4>[[project.grade.name]]</h4>

        </div>
        <div ng-show="projectHasDescription(projectToDelete)">
            <h4>
                <i18n>description</i18n>
                :
            </h4>
            <p>[[project.description]]</p>
        </div>
        <div ng-if="projectHasSite(project)">
            <h4>
                <i18n>room.site</i18n>
                :
            </h4>
            <span>[[project.site]]</span>
        </div>
        <div ng-if="projectHasRoom(project)">
            <h4>
                <i18n>room.number</i18n>
                :
            </h4>
            <span>[[projectToDelete.room]]</span>
        </div>
        <div ng-if="projectHasStair(project)">
            <h4>
                <i18n>lystore.project.stage</i18n>
                :
            </h4>
            <span>[[project.stair]]</span>
        </div>
    </div>
    <div class="right-magnet">
        <input type="button" class="cancel" ng-click="cancelProjectDelete()" i18n-value="cancel"/>
        <input type="button" class="button" ng-click="deleteProject(projectsToDelete)" i18n-value="ok"/>
    </div>


</div>