<div class="delete-project-confirmation">
    <h1>
        <i18n>lystore.project.delete.title</i18n>
    </h1>
    <p ng-show="projectsToDelete.length === 1 ">
        <i18n>lystore.project.delete.message</i18n>
        :
    </p>
    <p ng-show="projectsToDelete.length > 1">
        <i18n>lystore.projects.delete.message</i18n>
        :
    </p>

    <div ng-repeat="project in projectsToDelete track by $index" class="row project"
         ng-class="{'border bottom': !$last}">
        <div>
            <h4>[[project.name]]</h4>
        </div>
        <div>
            <div class="cell three">
                <i18n>entitled</i18n>
                :
            </div>
            <em class="cell nine">[[project.title.name]]</em>
            <div class="cell three">
                <i18n>lystore.project.grade</i18n>
                :
            </div>
            <em class="cell nine">[[project.grade.name]]</em>
        </div>
        <div ng-show="projectHasDescription(projectToDelete)">
            <div class="cell three">
                <i18n>description</i18n>
                :
            </div>
            <p><em>[[project.description]]</em></p>
        </div>
        <div ng-if="projectHasSite(project)">
            <div class="cell three">
                <i18n>room.site</i18n>
                :
            </div>
            <em class="cell nine">[[project.site]]</em>
        </div>
        <div ng-if="projectHasRoom(project)">
            <div class="cell three">
                <i18n>room.number</i18n>
                :
            </div>
            <em class="cell nine">[[project.room]]</em>
        </div>
        <div ng-if="projectHasStair(project)">
            <div class="cell three">
                <i18n>lystore.project.stage</i18n>
                :
            </div>
            <em class="cell nine">[[project.stair]]</em>
        </div>
    </div>
    <div class="row vertical-spacing">
        <i18n ng-if="projectsToDelete.length > 1">lystore.project.delete.confirmation.multiple</i18n>
        <i18n ng-if="projectsToDelete.length === 1">lystore.project.delete.confirmation</i18n>
    </div>
    <div class="row vertical-spacing">
        <div class="right-magnet">
            <input type="button" class="cancel" ng-click="cancelProjectDelete()" i18n-value="cancel"/>
            <input type="button" class="button" ng-click="deleteProject(projectsToDelete)" i18n-value="ok"/>
        </div>
    </div>
</div>