<div class="delete-confirmation">
    <h2>
        <i18n>lystore.orderEquipment.delete.title</i18n>
    </h2>
    <p>
        <i18n>lystore.orderEquipment.delete.message</i18n>
    </p>

    <div class="cell twelve">
        <div class="row article-equipment">
            <h4 class="highlighted"><i18n>description</i18n></h4>
            <div class="two cell basket-image">
                <img ng-src="[[orderEquipmentToDelete.image]]" ng-show="orderEquipmentToDelete.image!==null && orderEquipmentToDelete.image!==undefined " />
                <img skin-src="/img/illustrations/pages-default.png" ng-show="orderEquipmentToDelete.image===null || orderEquipmentToDelete.image===undefined "/>
            </div>
            <div class="nine cell basket-equipment">
                <h3>[[orderEquipmentToDelete.name]]</h3>
                <p ng-bind-html="orderEquipmentToDelete.summary" ></p>
                <p>
            </div>
        </div>
        <div class="row options-head" ng-show="orderEquipmentToDelete.options.length > 0">
            <h4 class="highlighted"><i18n>multi-combo.options</i18n></h4>
            <table class="twelve option-table">
                <thead>
                <tr>
                    <td>Nom</td>
                    <td>Prix Unitaire</td>
                    <td>Quantité</td>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="option in orderEquipmentToDelete.options">
                    <td>[[option.name]]</td>
                    <td><span ng-bind="calculatePriceTTC(option.price, option.tax_amount, 2) | currency"></span></td>
                    <td>[[option.amount]]</td>
                </tr>
                </tbody>
            </table>
        </div>



        <div class="twelve">
            <h4 class="highlighted">
                <i18n>lystore.order</i18n>
            </h4>
            <p>
                <i18n>
                    lystore.expected.delivery
                </i18n>
                <strong>[[calculateDelivreryDate(orderEquipmentToDelete.creation_date)]]</strong>
            </p>
            <p>
                <span> <i18n>lystore.quantity</i18n> : </span><strong>[[orderEquipmentToDelete.amount]]</strong>
            </p>
            <p>
                <span><i18n>price</i18n> : </span>
                <strong ng-bind="calculateTotal(orderEquipmentToDelete,2) | currency"></strong>
            </p>
            <p ng-if="hasAProposalPrice(orderEquipmentToDelete)">
                <span><i18n>lystore.priceProposal</i18n></span>
                <strong ng-bind="orderEquipmentToDelete.price_proposal | currency"></strong>
            </p>
        </div>

    </div>


</div>