<div class="row" ng-controller="exportCtrl">
    <h1>
        <i18n>lystore.list.export.title</i18n>
    </h1>
    <input  class="row"
            type="text"
            ng-model="search.filterWord"
            ng-change="filterByTag(search.filterWord)"
            ng-keydown="addFilter(search.filterWord, $event)"
            i18n-placeholder="add.a.filter" />

    <i class="search flex-row" ng-click="addFilter(search.filterWord)"></i>
    <article class="responsive-table vertical-array-scroll">
        <div>
            <h2>
                <i18n>lystore.list.export.text</i18n>
            </h2>
        </div>
        <table class="twelve">
            <thead>
            <tr>
                <td workflow="lystore.manager" class="table-selector">
                    <label class="checkbox">
                        <input type="checkbox"
                               ng-show="exports.all.length > 0"
                               ng-change="switchAllExports()"
                               ng-model="allExportsSelected">
                        <span></span>
                    </label>
                </td>
                <td ng-click="sort.export.type = 'filename';
                    sort.export.reverse = !sort.export.reverse">
                    <i18n>lystore.nameFile</i18n>
                    <i class="up-open" ng-show="sort.export.type === 'filename' && !sort.export.reverse"></i>
                    <i class="down-open" ng-show="sort.export.type === 'filename' && sort.export.reverse"></i>
                </td>
                <td ng-click="sort.export.type = 'created';
                    sort.export.reverse = !sort.export.reverse">
                    <i18n>lystore.creation.date</i18n>
                    <i class="up-open" ng-show="sort.export.type === 'created' && !sort.export.reverse"></i>
                    <i class="down-open" ng-show="sort.export.type === 'created' && sort.export.reverse"></i>
                </td>
                <td ng-click="sort.export.type = 'object_name';
                    sort.export.reverse = !sort.export.reverse">
                    <i18n>lystore.export.object.name</i18n>
                    <i class="up-open" ng-show="sort.export.type === 'object_name' && !sort.export.reverse"></i>
                    <i class="down-open" ng-show="sort.export.type === 'object_name' && sort.export.reverse"></i>
                </td>
                <td ng-click="sort.export.type = 'typeObject';
                    sort.export.reverse = !sort.export.reverse">
                    <i18n>lystore.export.type</i18n>
                    <i class="up-open" ng-show="sort.export.type === 'typeObject' && !sort.export.reverse"></i>
                    <i class="down-open" ng-show="sort.export.type === 'typeObject' && sort.export.reverse"></i>
                </td>
                <td>
                </td>
            </tr>
            </thead>
            <tbody>
            <tr
                    ng-repeat="export in exports.all | orderBy:sort.export.type:sort.export.reverse"
                    class=[[export.classStatus]]
                    tooltip=[[export.tooltip]]
            >
                <td workflow="lystore.manager" class="table-selector" >
                    <label class="checkbox">
                        <input type="checkbox" ng-model="export.selected">
                        <span></span>
                    </label>
                </td>
                <td>
                    [[export.filename]]
                </td>
                <td>
                    [[export.created]]
                </td>
                <td>
                    [[export.object_name]]_[[export.object_id]]
                </td>
                <td>
                    [[lang.translate(export.typeObject)]]
                </td>
                <td
                        ng-click="getExport(export)"
                        ng-show="export.status === STATUS.SUCCESS"
                >
                    <i class="downloadButton icon-medium-size"></i>
                </td>
                <td ng-show="!(export.status === STATUS.SUCCESS)">&nbsp;</td>

            </tr>
            </tbody>
        </table>
    </article>

    <section class="toggle-buttons" ng-class="{ hide:exports.selected.length === 0 }">
        <div class="toggle">
            <div class="row">
                <button
                        ng-click="confirmDelete()"
                        ng-disabled="controlDeleteExport()"
                >
                    <i18n>delete</i18n>
                </button>
            </div>
        </div>
    </section>

    <lightbox show="display.delete"
    >
        <container template="export.delete.lightbox"></container>
    </lightbox>
</div>

