<h1>
    <i18n>export.delete.lightbox.title</i18n>
</h1>

<div>
    <div class="row">
        <i18n>delete.export.question</i18n>
        <p>
            <i18n>delete.export.label</i18n>
            :
        <h2>[[exportToDelete.filename]]</h2>
        </p>

    </div>

    <div class="right-magnet vertical-spacing">
        <input type="button" class="cancel" ng-click="cancelExportLightbox()" i18n-value="cancel"/>
        <input type="submit" class="button" ng-click="deleteExport(exportToDelete)" i18n-value="confirm"/>
    </div>
</div>