<h1 data-reload>
    <i18n>lystore.title</i18n>
</h1>

<div class="twelve tabs vertical-spacing heading-tabs">
    <header class="horizontal-spacing">
        <drop-down-menu title="[[lang.translate('lystore.orders')]]">
            <opt><i18n>lystore.orders.validations.waiting</i18n></opt>
            <opt><i18n>lystore.order.form.generate</i18n></opt>
            <opt><i18n>lystore.end.expedited.requests</i18n></opt>
        </drop-down-menu>
    </header>
    <header class="horizontal-spacing"><i18n>lystore.equipments</i18n></header>
    <header class="horizontal-spacing"><i18n>lystore.campaigns</i18n></header>
    <header class="horizontal-spacing">
        <drop-down-menu title="[[lang.translate('lystore.markets')]]">
            <opt><i18n>lystore.suppliers.management</i18n></opt>
            <opt><i18n>lystore.markets.management</i18n></opt>
            <opt ng-click="redirectTo('/agents')"><i18n>lystore.agents.management</i18n></opt>
        </drop-down-menu>
    </header>
    <header class="horizontal-spacing"><i18n>lystore.logs</i18n></header>
</div>

<container template="administrator-main"></container>