<div class="row tag-management" ng-controller="configurationController">
    <div class="twelve" workflow="lystore.administrator">
        <button class="right-magnet" ng-click="openTagForm()">
            <i18n>lystore.tag.add</i18n>
        </button>
    </div>
    <div class="centered six twelve-mobile">
        <h1>
            <i18n>lystore.tag.management</i18n>
        </h1>
        <article class="responsive-table">
            <table class="twelve">
                <thead>
                <td workflow="lystore.administrator" class="one">
                    <label class="checkbox">
                        <input type="checkbox"
                               ng-change="switchAll(allTagSelected, tags)"
                               ng-model="allTagSelected">
                        <span></span>
                    </label>
                </td>
                <td class="one">&nbsp;</td>
                <td ng-click="sort.tag.type = 'name';
                    sort.tag.reverse = !sort.tag.reverse">
                    <i18n>name</i18n>
                    <i class="up-open" ng-show="sort.tag.type === 'name' && !sort.tag.reverse"></i>
                    <i class="down-open" ng-show="sort.tag.type === 'name' && sort.tag.reverse"></i>
                </td>
                <td ng-click="sort.tag.type = 'nb_equipments';
                    sort.tag.reverse = !sort.tag.reverse">
                    <i18n>lystore.tag.equipments.nb</i18n>
                    <i class="up-open" ng-show="sort.tag.type === 'nb_equipments' && !sort.tag.reverse"></i>
                    <i class="down-open" ng-show="sort.tag.type === 'nb_equipments' && sort.tag.reverse"></i>
                </td>
                </thead>
                <tbody>
                <tr ng-repeat="tag in tags.all | orderBy:sort.tag.type:sort.tag.reverse">
                    <td workflow="lystore.administrator" class="one">
                        <label class="checkbox">
                            <input type="checkbox" ng-model="tag.selected">
                            <span></span>
                        </label>
                    </td>
                    <td class="one">
                        <span class="color-tag large" ng-style="{ 'background-color': tag.color }">
                            &nbsp;
                        </span>
                    </td>
                    <td>[[tag.name]]</td>
                    <td>[[tag.nb_equipments]]</td>
                </tr>
                </tbody>
            </table>
        </article>
    </div>

    <lightbox show="display.lightbox.tag"
              on-close="cancelTagForm()">
        <container template="tag.lightbox"></container>
    </lightbox>

    <section class="toggle-buttons" ng-class="{ hide: tags.selected.length === 0 }">
        <div class="toggle">
            <div class="row">
                <button ng-click="openTagForm(tags.selected[0])" ng-show="tags.selected.length === 1">
                    <i18n>modify</i18n>
                </button>
                <button ng-click="openTagsDeletion()"><i18n>delete</i18n></button>
            </div>
        </div>
    </section>
</div>