<h2><i18n ng-show="tag.id == undefined">lystore.tag.add</i18n><i18n ng-show="tag.id !== undefined">lystore.tag.modify</i18n></h2>

<form ng-submit="validTag(tag)">
    <div class="row">
        <label class="cell twelve">
            <span class="four cell twelve-mobile">
                <i18n>lystore.tag.name</i18n>
            </span>
            <input class="cell seven eleven-mobile" type="text" ng-model="tag.name" required />
            <span class="one cell color-tag large horizontal-margin" ng-style="{ 'background-color' : tag.color }"></span>
        </label>
    </div>
    <div class="row">
        <ul class="color-list">
            <li ng-repeat="color in tags.colors"
                class="horizontal-spacing vertical-spacing">
                <span class="color-tag"
                      ng-click="tag.color = color"
                      ng-style="{ 'background-color' : color }">
                    &nbsp;
                </span>
            </li>
        </ul>
    </div>
    <div class="right-magnet vertical-spacing">
        <input type="button" class="cancel" ng-click="cancelTagForm()" i18n-value="cancel"/>
        <input type="submit" class="button" ng-disabled="!validTagForm(tag)"/>
    </div>
</form>