
<div class="twelve tabs vertical-spacing heading-tabs">
    <header class="horizontal-spacing"  >
        <i18n>CATALOG</i18n>
    </header>
    <header class="horizontal-spacing" ng-click="redirectTo('/order')" >
        <i18n>lystore.order.tracking</i18n>
    </header>
    <header class="horizontal-spacing" ng-click="redirectTo('/basket')">
        <i18n>BASKET</i18n>
    </header>
    <div class="purse-in-menue"><h4><i18n>purse</i18n></h4><h2>: <span ng-bind="[[campaign.purse_amount]]"></span> € </h2></div>
</div>


<container template="campaign-main"></container>