<div ng-controller="campaignMainController" >
    <div class="twelve tabs vertical-spacing heading-tabs" >
        <header class="horizontal-spacing"  ng-click="backHome()"  >
            <i class="home"></i>
        </header>
        <header class="horizontal-spacing"  ng-click="openCatalog()"  >
            <i18n>CATALOG</i18n>
        </header>
        <header class="horizontal-spacing" ng-click="openOrder()" >
            <i18n>lystore.order.tracking</i18n>
            <span class="notification-bull right-magnet" ng-if="campaign.nb_order > 0">
                    [[campaign.nb_order]]
            </span>
        </header>
        <header class="horizontal-spacing" ng-click="openBasket()">
            <i18n>BASKET</i18n>
            <span class="notification-bull right-magnet" ng-if="campaign.nb_panier > 0">
                    [[campaign.nb_panier]]
            </span>
        </header>
        <div class="purse-in-menue">
            <h4><i18n>purse</i18n> :</h4>&nbsp;
            <h2><span> [[campaign.purse_amount ? campaign.purse_amount : 0 ]] </span><i18n>money.symbol</i18n></h2></div>
    </div>


    <container template="campaign-main"></container>
</div>