<div ng-controller="catalogController">
    <div class="cell flex-row horizontal-spacing search-pagination three ">
        <div class="row twelve vertical-spacing">
            <input  class="row"
                    type="text"
                    ng-model="search.filterWrod "
                    ng-change="filterByTag(search.filterWrod)"
                    ng-keydown="addFilter(search.filterWrod,$event)"
                    i18n-placeholder="search"   >
            </input>
            <i class="search flex-row" ng-click="addFilter(search.filterWrod)"></i>
        </div>
    </div>
    <div class="row horizontal-spacing">
        <div class="select-blocks">
            <div ng-repeat="filterWrod in search.filterWrods"
                 ng-click="pullFilterWord(filterWrod)"
                 class="labels-in-ligne">
                <div > [[ filterWrod ]] </div>
            </div>
        </div>
    </div>
    <div class="row catalog-list">
        <div class="dominos">
            <div class="item" ng-repeat="equipment in equipments.all|catalogSearchFilter:search.filterWrods">
                <div ng-class="{desabled: equipment.status!== 'AVAILABLE'} "></div>
                <h1 ng-class="{desabled: equipment.status !== 'AVAILABLE'} " ng-show="equipment.status!== 'AVAILABLE'">
                    <i18n ng-show="equipment.status === 'UNAVAILABLE'">lystore.UNAVAILABLE</i18n>
                    <i18n ng-show="equipment.status === 'OUT_OF_STOCK'">lystore.OUT_OF_STOCK</i18n></h1>
                <article class="domino"  ng-class="{desabled: equipment.status !== 'AVAILABLE'}">
                    <h2>[[equipment.price]] €</h2>
                    <div class="top">
                        <img ng-src="[[equipment.image]]" ng-show="equipment.image!==null && equipment.image!==undefined " />
                        <img skin-src="/img/illustrations/pages-default.png" ng-show="equipment.image===null || equipment.image===undefined "/>
                        <h4>[[equipment.name]]</h4>
                        <p class="ellipsis description">[[equipment.summary]]</p>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>