<div ng-controller="catalogController" class="catalog">
    <div class="cell flex-row horizontal-spacing search-pagination three ">
        <div class="row twelve vertical-spacing">
            <input  class="row"
                    type="text"
                    ng-model="search.filterWrod "
                    ng-change="filterByTag(search.filterWrod)"
                    ng-keydown="addFilter(search.filterWrod, $event)"
                    i18n-placeholder="add.a.filter" />
            <i class="search flex-row" ng-click="addFilter(search.filterWrod)"></i>
        </div>
    </div>
    <div class="row horizontal-spacing">
        <div class="select-blocks">
            <div ng-repeat="filterWrod in search.filterWrods"
                 ng-click="pullFilterWord(filterWrod)"
                 class="labels-in-ligne">
                <div > [[ filterWrod ]] </div>
            </div>
        </div>
    </div>
    <div class="cell catalog-list" ng-class="{twelve: !display.equipment, 'border-list': display.equipment}">
        <div class="dominos">
            <div class="item" ng-class="{
                    disabled: equipment.status!== 'AVAILABLE',
                    'list-item': display.equipment
                 }"
                 ng-repeat="equipment in equipments.all|catalogSearchFilter:search.filterWrods"
                 ng-click="openEquipment(equipment)">

                <div ng-class="{disabled: equipment.status!== 'AVAILABLE'} "></div>
                <h1 ng-class="{disabled: equipment.status !== 'AVAILABLE'} " ng-show="equipment.status!== 'AVAILABLE'">
                    <i18n ng-show="equipment.status === 'UNAVAILABLE'">lystore.UNAVAILABLE</i18n>
                    <i18n ng-show="equipment.status === 'OUT_OF_STOCK'">lystore.OUT_OF_STOCK</i18n></h1>

                <article class="domino"  ng-class="{ disabled: equipment.status !== 'AVAILABLE' }">
                    <h2>[[calculatePriceOfEquipment(equipment, false, 2)]] €</h2>
                    <div class="top" ng-class="{ item: display.equipment }">
                        <img ng-src="[[equipment.image]]" ng-show="equipment.image!==null && equipment.image!==undefined " />
                        <img skin-src="/img/illustrations/pages-default.png" ng-show="equipment.image===null || equipment.image===undefined "/>
                        <h4>[[equipment.name]]</h4>
                        <p class="ellipsis description">[[equipment.summary]]</p>
                    </div>
                </article>
            </div>
        </div>
    </div>
    <container template="right-side"></container>
</div>