
<div workflow="lystore.administrator">
    <input type="button"  ng-click="openCampaignForm()" class="right-magnet" i18n-value="lystore.campaigns.add"/>
</div>
<div class="twelve cell manage-campaign"  workflow="lystore.manager">
    <article class="twelve cell " ng-repeat="campaign in campaigns.all track by $index ">
        <div class="row">
            <div class="twelve cell" workflow="lystore.administrator">
                <label class="checkbox">
                    <input type="checkbox" ng-model="campaign.selected" >
                    <span></span>
                </label>
            </div>
            <div class="two cell campaign-image">
                <img ng-src="[[campaign.image]]" ng-show="campaign.image!==null && campaign.image!==undefined " />
                <img skin-src="/img/illustrations/pages-default.png" ng-show="campaign.image===null || campaign.image===undefined "/>
            </div>
            <div class="ten cell">
                <h3>[[campaign.name]]</h3>
                <p ng-bind-html="campaign.description"></p>
                <p>
                    <div class="small-text"><i18n>lystore.campaign.amount</i18n> : [[campaign.purse_amount || 0]] <i18n>money.symbol</i18n><div>
                    <div class="small-text">[[campaign.nb_structures]] <i18n>structures</i18n></div>
                    <div class="small-text">[[campaign.nb_equipments]] <i18n>lystore.equipments.available</i18n></div>
                </p>
            </div>
        </div>
        <div class="row" workflow="lystore.administrator">
            <button ng-click="redirectTo('/campaigns/' + campaign.id + '/purse')"><i18n>lystore.campaign.purse.manage</i18n></button>
            <div class="right-magnet">
                <span class="horizontal-spacing cell"><i18n>lystore.campaign.accessibility</i18n></span>
                <switch ng-model="campaign.accessible" ng-change="campaign.updateAccessibility()" class="cell"></switch>
            </div>
        </div>
    </article>
</div>

<lightbox on-close="display.lightbox.campaign = false;"
          show="display.lightbox.campaign"
          workflow="lystore.administrator">
    <container template="campaign.lightbox"></container>
</lightbox>

<section class="toggle-buttons" ng-class="{ hide: campaigns.selected.length === 0 }" workflow="lystore.administrator">
    <div class="toggle">
        <div class="row">
            <button ng-click="openCampaignForm(campaigns.selected[0])" ng-show="campaigns.selected.length === 1">
                <i18n>modify</i18n>
            </button>
            <button ng-click="openCampaignsDeletion()"><i18n>delete</i18n></button>
        </div>
    </div>
</section>