
<div workflow="lystore.administrator">
    <input type="button" ng-click="openCampaignForm()" class="right-magnet twelve-mobile"
           i18n-value="lystore.campaigns.add"/>
</div>
<div class="twelve cell manage-campaign campaign-list"  workflow="lystore.manager">
    <article class="twelve cell " ng-repeat="campaign in campaigns.all track by $index ">
        <div class="row">
            <div class="twelve cell" workflow="lystore.administrator">
                <label class="checkbox">
                    <input type="checkbox" ng-model="campaign.selected" >
                    <span></span>
                </label>
            </div>
            <div class="two cell campaign-image zero-mobile">
                <img ng-src="[[campaign.image]]" ng-show="campaign.image!==null && campaign.image!==undefined " />
                <img skin-src="/img/illustrations/pages-default.png" ng-show="campaign.image===null || campaign.image===undefined "/>
            </div>
            <div class="three cell twelve-mobile">
                <h3>[[campaign.name]]</h3>
                <p ng-bind-html="campaign.description"></p>
                <div class="small-text"><i18n>lystore.campaign.amount</i18n> : <span ng-bind="campaign.purse_amount | currency"></span></div>
                <div class="small-text">[[campaign.nb_structures]] <i18n>structures</i18n></div>
                <div class="small-text">[[campaign.nb_equipments]] <i18n>lystore.equipments.available</i18n></div>
                <button class="vertical-spacing twelve-mobile"
                        ng-click="redirectTo('/campaigns/' + campaign.id + '/purse')"><i18n>lystore.campaign.purse.manage</i18n></button>
            </div>
            <div class="twelve-mobile row-mobile cell">
                <ul class="colored status-bar cell row">
                    <li tooltip="[[lang.translate('lystore.order.waiting')]]" class="large"><i class="validated-status"></i><span>[[campaign.nb_orders_waiting]]</span></li>
                    <li tooltip="[[lang.translate('lystore.order.valid')]]" class="large"><i class="validated-status"></i><span>[[campaign.nb_orders_valid]]</span></li>
                    <li tooltip="[[lang.translate('lystore.order.sent')]]" class="large"><i class="validated-status"></i><span>[[campaign.nb_orders_sent]]</span></li>
                </ul>
            </div>

        </div>
        <div class="row" workflow="lystore.administrator">
            <div class="right-magnet">
                <span class="horizontal-spacing cell"><i18n>lystore.campaign.accessibility</i18n></span>
                <switch-toggle ng-model="campaign.accessible" ng-change="campaign.updateAccessibility()"
                               class="cell"></switch-toggle>
            </div>
        </div>
    </article>
</div>

<lightbox on-close="display.lightbox.campaign = false;"
          show="display.lightbox.campaign"
          workflow="lystore.administrator">
    <container template="campaign.lightbox"></container>
</lightbox>

<section class="toggle-buttons" ng-class="{ hide: campaigns.selected.length === 0 }" workflow="lystore.administrator">
    <div class="toggle">
        <div class="row">
            <button ng-click="openCampaignForm(campaigns.selected[0])" ng-show="campaigns.selected.length === 1">
                <i18n>modify</i18n>
            </button>
            <button ng-click="openCampaignsDeletion()"><i18n>delete</i18n></button>
        </div>
    </div>
</section>