body.lystore {
  @import 'components/index';

  .heading-tabs {
    overflow-x: inherit;
  }
  .aligne-text-center{
    text-align: center;
  }
  .agent-management,
  .supplier-management,
  .contract-management,
  .tag-management,
  .equipment-management,
  .log-view{

    table {
      thead td {
        padding: 8px;
        position: relative;

        i::before {
          font-size: 10px !important;
          margin-left: 5px;
          position: absolute;
        }

        label.checkbox {
          position: absolute;
          top: 8px;
        }
      }
    }
  }

  .log-view {
    table {
      table-layout: fixed;
    }
  }

  .color-tag {
    width: 25px;
    height: 25px;
    display: block;
    border-radius: 4px;
    transition: all 0.5s ease;

    &.large {
      width: 35px;
      height:35px;
    }
  }

  .color-list {
    margin: 0;
    padding: 0;
    list-style-type: none;

    li {
      display: inline-block;
    }
  }

  .ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .overflow-y {
    overflow-y: auto;
  }
  .labels-in-ligne{
    display: inline-flex;

    div{
      margin-left: 2px;
      display: inline-table;
      margin-right: 2px;
    }
  }

.label-row{
  display: inline-flex;
  input{
    margin-top: 10%;
    margin-left: 5%;
  }
  .row{
    width: auto !important;
  }
}

  .technical-specs {
    border: solid 1px $neutral-grey;

    .technical-spec {
      padding: 5px;

      &:nth-child(2n) {
        background-color: $lightest-grey;
      }


      .cell.one {
        text-align: center;
        color: $grey;
        margin-top: 5px;
      }
    }
  }
}