.status-circle {
  width:80px;
  height:80px;
  border-radius:50%;

  > i {
    margin-top: 30px;
    margin-bottom: 20px;
    color: $white;
    font-size:30px;
    display: block;
    font-weight:bold;
    text-align: center;

    &:after {
      color: $white;
    }
  }

  &.WAITING{
    background: $grey;
    //>i:after{
    //  content: '\e85a';
    //}
  }

  &.PROGRESS{
    background: $yellow;
  }

  &.SENT{
    background:#4bafd5;
    >i:after{
      content: '\e807';
    }
  }

  &.DONE{
    background: #000000;
    >i:after{
      content: '\e842';
    }
  }

  &.REJECTED{
    background: $red;
    >i:after{
      content: '\e866';
    }
  }

  &.WAITING_FOR_ACCEPTANCE{
    background: $orange;
    >i:after{
      content: "?";
      font-size: 44px;
      font-family: "Roboto";
    }
  }

  &.VALID{
    background: $green;
    //>i:after{
    //  content: '\e871';
    //}
  }
}


