<div class="row contract-management" ng-controller="configurationController">
    <h1>
        <i18n>lystore.contracts</i18n>
        <button class="right-magnet" workflow="lystore.administrator"
                ng-click="openContractForm()">
            <i18n>lystore.contract.add</i18n>
        </button>
    </h1>
    <div class="row centered twelve twelve-mobile">
        <article>
            <table class="twelve">
                <thead>
                <tr>
                    <td workflow="lystore.administrator">
                        <label class="checkbox">
                            <input type="checkbox"
                                   ng-change="switchAll(allContractSelected, contracts)"
                                   ng-model="allContractSelected">
                            <span></span>
                        </label>
                    </td>
                    <td>
                        <i18n>state</i18n>
                    </td>
                    <td ng-click="sort.contract.type = 'reference';
                    sort.contract.reverse = !sort.contract.reverse">
                        <i18n>lystore.reference</i18n>
                        <i class="up-open" ng-show="sort.contract.type === 'reference' && !sort.contract.reverse"></i>
                        <i class="down-open" ng-show="sort.contract.type === 'reference' && sort.contract.reverse"></i>
                    </td>
                    <td ng-click="sort.contract.type = 'name';
                    sort.contract.reverse = !sort.contract.reverse">
                        <i18n>lystore.contract.name</i18n>
                        <i class="up-open" ng-show="sort.contract.type === 'name' && !sort.contract.reverse"></i>
                        <i class="down-open" ng-show="sort.contract.type === 'name' && sort.contract.reverse"></i>
                    </td>
                    <td ng-click="sort.contract.type = 'supplier_display_name';
                    sort.contract.reverse = !sort.contract.reverse">
                        <i18n>lystore.contract.supplier</i18n>
                        <i class="up-open" ng-show="sort.contract.type === 'supplier_display_name' && !sort.contract.reverse"></i>
                        <i class="down-open" ng-show="sort.contract.type === 'supplier_display_nae' && sort.contract.reverse"></i>
                    </td>
                    <td ng-click="sort.contract.type = 'start_date';
                    sort.contract.reverse = !sort.contract.reverse">
                        <i18n>lystore.calendar</i18n>
                        <i class="up-open" ng-show="sort.contract.type === 'start_date' && !sort.contract.reverse"></i>
                        <i class="down-open" ng-show="sort.contract.type === 'start_date' && sort.contract.reverse"></i>
                    </td>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="contract in contracts.all | orderBy:sort.contract.type:sort.contract.reverse">
                    <td workflow="lystore.administrator">
                        <label class="checkbox">
                            <input type="checkbox" ng-model="contract.selected">
                            <span></span>
                        </label>
                    </td>
                    <td>&nbsp;</td>
                    <td>[[contract.reference]]</td>
                    <td>
                        [[contract.name]]
                    </td>
                    <td>
                        [[contract.supplier_display_name]]
                    </td>
                    <td>
                        [[
                            formatDate(contract.start_date, 'MMMM YYYY')
                            + " - " +
                            formatDate(contract.renewal_end, 'MMMM YYYY')
                        ]]
                    </td>
                </tr>
                </tbody>
            </table>
        </article>
    </div>

    <lightbox on-close="display.lightbox.contract = false;"
              show="display.lightbox.contract">
        <container template="contract.lightbox"></container>
    </lightbox>

    <section class="toggle-buttons" ng-class="{ hide: contracts.selected.length === 0 }">
        <div class="toggle">
            <div class="row">
                <button ng-click="openContractForm(contracts.selected[0])" ng-show="contracts.selected.length === 1">
                    <i18n>modify</i18n>
                </button>
                <button ng-click="openContractsDeletion()"><i18n>delete</i18n></button>
            </div>
        </div>
    </section>
</div>