<form ng-submit="importTitles(importer)">
    <h2>
        <i18n>lystore.campaign.titles.import.title</i18n>
        [[campaign.name]]
    </h2>
    <div class="info">
        <p>
            <i18n>lystore.campaign.titles.import.definition</i18n>
        </p>
        <p>
            <i18n>lystore.campaign.purse.import.skeleton</i18n>
            <a href="/lystore/public/import/skeleton.csv">skeleton.csv</a>
        </p>
    </div>
    <div class="warning" ng-if="importer.message">
        <p>[[lang.translate(importer.message)]]</p>
    </div>
    <div class="vertical-spacing">
        <p class="six centered">
            <i18n>csv.file</i18n>
            <input type="file" files-input-change ng-model="importer.files">
        </p>
        </p>
        <div class="row">
            <button class="right-magnet" ng-disabled="!importer.isValid()">
                <i18n>import</i18n>
            </button>
        </div>
    </div>
</form>