<h2>
    <i18n>lystore.campaign.titles.delete</i18n>
</h2>
<p>
    <i18n>lystore.campaign.titles.delete.description</i18n>
</p>
<p>
<ul>
    <li>
        <i18n>CAMPAIGN</i18n>
        : <strong>[[campaign.name]]</strong></li>
    <li>
        <i18n>Structure</i18n>
        : <strong>[[title.structure_name]]</strong></li>
    <li>
        <i18n>entitled</i18n>
        : <strong>[[title.name]]</strong>
    </li>
</ul>
</p>
<div class="row">
    <div class="right-magnet">
        <button class="cancel" ng-click="lightbox.open = false">
            <i18n>cancel</i18n>
        </button>
        <button ng-click="deleteTitle(title)">
            <i18n>delete</i18n>
        </button>
    </div>
</div>