<h2><i18n>lystore.operation.order.management.title</i18n>[[operation.label.label]]</h2>
<div class="row">
    <div class="cell twelve-mobile horizontal-spacing search-pagination four">
        <div class="row twelve vertical-spacing">
            <input type="text" class="twelve" ng-keydown="addOrderFilter($event)"
                   i18n-placeholder="add.a.filter">
            <i class="search flex-row"></i>
        </div>
        <div class="row horizontal-spacing">
            <div class="select-blocks">
                <div ng-repeat="filter in ordersClient.filters"
                     ng-click="dropOrderFilter(filter)" class="labels-in-ligne">
                    <div> [[ filter ]]</div>
                </div>
            </div>
        </div>
    </div>
</div>
<article class="responsive-table">
    <table class="twelve">
        <thead>
        <tr>
            <td ng-repeat="field in tableFields "
                ng-hide="!field.display"
                ng-click="sort.order.type = field.fieldName;
                    sort.order.reverse = !sort.order.reverse">
                [[lang.translate(field.name)]]
                <i class="up-open" ng-show="sort.order.type === field.fieldName && !sort.order.reverse"></i>
                <i class="down-open" ng-show="sort.order.type === field.fieldName && sort.order.reverse"></i>
            </td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="order in ordersClientOfOperation">
            <td>[[order.name_structure]]</td>
            <td>[[order.structure.academy]]</td>
            <td>[[order.structure.type]]</td>
            <td>
                [[order.contract.name]]
            </td>
            <td>
                [[order.contract_type.name]]
            </td>
            <td> [[ order.project.title.name.toString() ]]</td>
            <td> [[order.name]]</td>
            <td>[[order.amount ]]</td>
            <td>[[order.creation_date ]]</td>
            <td>[[getStructureGroupsList(order.structure_groups)]]</td>
            <td>[[order.campaign.name ]]</td>
            <td>
                [[order.project.preference!= null && order.rank != undefined && order.campaign.projectPriorityEnable()
                ? order.project.preference + 1 : lang.translate('lystore.order.not.prioritized') ]]
            </td>
            <td >
                [[order.rank != null && order.rank != undefined && order.campaign.orderPriorityEnable()
                ? order.rank + 1 :  lang.translate('lystore.order.not.prioritized') ]]
            </td>
            <td>
                <span ng-bind="order.priceTTCtotal | currency"></span>
            </td>
            <td class="one aligne-text-center" ng-click="dropOrderOperation(order)">
                <i  class="trash"></i>
            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr >
            <td colspan="[[countColSpan('totaux')]]">
                <i18n>totals</i18n>
            </td>
            <td ng-if="tableFields[7].display">[[displayedOrders.calculTotalAmount() ]]</td>
            <td colspan="[[countColSpan('price')]]" class="text-right"></td>
        </tr>
        </tfoot>
    </table>
</article>
<div class="right-magnet vertical-spacing">
    <input type="button" class="cancel" ng-click="cancelInstructionLightbox()" i18n-value="ok"/>
</div>
