<h2><i18n>lystore.operation.order.management.title</i18n>[[operation.label.label]]</h2>
<div class="row">
    <div class="cell twelve-mobile horizontal-spacing search-pagination four">
        <div class="row twelve vertical-spacing">
            <input type="text" class="twelve" ng-keydown="addOrderFilter($event)"
                   i18n-placeholder="add.a.filter">
            <i class="search flex-row"></i>
        </div>
        <div class="row horizontal-spacing">
            <div class="select-blocks">
                <div ng-repeat="filter in ordersClient.filters"
                     ng-click="dropOrderFilter(filter)" class="labels-in-ligne">
                    <div> [[ filter ]]</div>
                </div>
            </div>
        </div>
    </div>
</div>
<article class="responsive-table">
    <table class="twelve">
        <thead>
        <tr>
            <td ng-click="sort.order.type = 'number_validation';
                    sort.order.reverse = !sort.order.reverse">
                <i18n>number.validation</i18n>
                <i class="up-open" ng-show="sort.order.type === 'number_validation' && !sort.order.reverse"></i>
                <i class="down-open" ng-show="sort.order.type === 'number_validation' && sort.order.reverse"></i>
            </td>
            <td ng-click="sort.order.type = 'order_number';
                    sort.order.reverse = !sort.order.reverse">
                <i18n>lystore.orders.order.number</i18n>
                <i class="up-open" ng-show="sort.order.type === 'order_number' && !sort.order.reverse"></i>
                <i class="down-open" ng-show="sort.order.type === 'order_number' && sort.order.reverse"></i>
            </td>
            <td ng-click="sort.order.type = 'contract.name';
                    sort.order.reverse = !sort.order.reverse">
                <i18n>contract</i18n>
                <i class="up-open" ng-show="sort.order.type === 'contract.name' && !sort.order.reverse"></i>
                <i class="down-open" ng-show="sort.order.type === 'contract.name' && sort.order.reverse"></i>
            </td>
            <td ng-click="sort.order.type = 'supplier.name';
                    sort.order.reverse = !sort.order.reverse">
                <i18n>supplier</i18n>
                <i class="up-open" ng-show="sort.order.type === 'supplier.name' && !sort.order.reverse"></i>
                <i class="down-open" ng-show="sort.order.type === 'supplier.name' && sort.order.reverse"></i>
            </td>
            <td ng-click="sort.order.type = 'structure_count';
                    sort.order.reverse = !sort.order.reverse">
                <i18n>lystore.structures.number</i18n>
                <i class="up-open" ng-show="sort.order.type === 'structure_count' && !sort.order.reverse"></i>
                <i class="down-open" ng-show="sort.order.type === 'structure_count' && sort.order.reverse"></i>
            </td>
            <td ng-click="sort.order.type = 'label_program';
                    sort.order.reverse = !sort.order.reverse">
                <i18n>lystore.program</i18n>
                <i class="up-open" ng-show="sort.order.type === 'label_program' && !sort.order.reverse"></i>
                <i class="down-open" ng-show="sort.order.type === 'label_program' && sort.order.reverse"></i>
            </td>
            <td ng-click="sort.order.type = 'price';
                    sort.order.reverse = !sort.order.reverse">
                <i18n>lystore.price.TTC</i18n>
                <i class="up-open" ng-show="sort.order.type === 'price' && !sort.order.reverse"></i>
                <i class="down-open" ng-show="sort.order.type === 'price' && sort.order.reverse"></i>
            </td>
            <td></td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="order in ordersClient.all">
            <td>[[order.number_validation]]</td>
            <td>[[order.order_number]]</td>
            <td>[[order.contract_name]]</td>
            <td>[[order.supplier_name]]</td>
            <td>[[order.structure_count]]</td>
            <td>[[order.label_program]]</td>
            <td class="one aligne-text-center" ng-click="dropOrderOperation(order)">
                <i  class="trash"></i>
            </td>
        </tr>
        </tbody>
    </table>
</article>
<div class="right-magnet vertical-spacing">
    <input type="button" class="cancel" ng-click="cancelOperationForm()" i18n-value="ok"/>
</div>
