<h2><i18n>lystore.operation.order.management.title</i18n>[[operation.label.label]]</h2>
<article class="responsive-table">
    <table class="twelve">
        <thead>
        <tr>
            <td ng-click="sort.order.type = 'structure_uai';
                    sort.order.reverse = !sort.order.reverse">
                <i18n>Structure</i18n>
                <i class="up-open" ng-show="sort.order.type === 'structure_uai' && !sort.order.reverse"></i>
                <i class="down-open" ng-show="sort.order.type === 'structure_uai' && sort.order.reverse"></i>
            </td>
            <td ng-click="sort.order.type = 'contract_name';
                    sort.order.reverse = !sort.order.reverse">
                <i18n>contract</i18n>
                <i class="up-open" ng-show="sort.order.type === 'contract_name' && !sort.order.reverse"></i>
                <i class="down-open" ng-show="sort.order.type === 'contract_name' && sort.order.reverse"></i>
            </td>
            <td ng-click="sort.order.type = 'name';
                    sort.order.reverse = !sort.order.reverse">
                <i18n>EQUIPMENT</i18n>
                <i class="up-open" ng-show="sort.order.type === 'name' && !sort.order.reverse"></i>
                <i class="down-open" ng-show="sort.order.type === 'name' && sort.order.reverse"></i>
            </td>
            <td ng-click="sort.order.type = 'amount';
                    sort.order.reverse = !sort.order.reverse">
                <i18n>quantity</i18n>
                <i class="up-open" ng-show="sort.order.type === 'amount' && !sort.order.reverse"></i>
                <i class="down-open" ng-show="sort.order.type === 'amount' && sort.order.reverse"></i>
            </td>
            <td ng-click="sort.order.type = 'creation_date';
                    sort.order.reverse = !sort.order.reverse">
                <i18n>date</i18n>
                <i class="up-open" ng-show="sort.order.type === 'creation_date' && !sort.order.reverse"></i>
                <i class="down-open" ng-show="sort.order.type === 'creation_date' && sort.order.reverse"></i>
            </td>
            <td ng-click="sort.order.type = 'price';
                    sort.order.reverse = !sort.order.reverse">
                <i18n>amountTTC</i18n>
                <i class="up-open" ng-show="sort.order.type === 'price' && !sort.order.reverse"></i>
                <i class="down-open" ng-show="sort.order.type === 'price' && sort.order.reverse"></i>
            </td>
            <td></td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="order in ordersClientByOperation | orderBy:sort.order.type:sort.order.reverse">
            <td>[[order.structure_uai]] - [[order.structure_name]]</td>
            <td>[[order.contract_name]]</td>
            <td>[[order.name]]</td>
            <td>[[order.amount]]</td>
            <td>[[formatDate(order.creation_date)]]</td>
            <td ><span ng-bind="order.price | currency"></span></td>
            <td class="one aligne-text-center" ng-click="dropOrderOperation(order)">
                <i  class="trash"></i>
            </td>
        </tr>
        </tbody>
    </table>
</article>
<div class="right-magnet vertical-spacing">
    <input type="button" class="cancel" ng-click="cancelOperationForm()" i18n-value="ok"/>
</div>
