<div class="row agent-management" ng-controller="administratorController">
    <div class="twelve" workflow="lystore.administrator">
        <button class="right-magnet" ng-click="openAgentForm()">
            <i18n>lystore.agent.add</i18n>
        </button>
    </div>
    <div class="centered six">
        <h1><i18n>lystore.locality.agents</i18n></h1>
        <article>
            <table class="twelve">
                <thead>
                <td workflow="lystore.administrator">
                    <label class="checkbox">
                        <input type="checkbox"
                               ng-change="switchAll(allAgentSelected, agents)"
                               ng-model="allAgentSelected">
                        <span></span>
                    </label>
                </td>
                <td ng-click="sort.agent.type = 'name';
                    sort.agent.reverse = !sort.agent.reverse">
                    <i18n>name</i18n>
                    <i class="up-open" ng-show="sort.agent.type === 'name' && !sort.agent.reverse"></i>
                    <i class="down-open" ng-show="sort.agent.type === 'name' && sort.agent.reverse"></i>
                </td>
                <td ng-click="sort.agent.type = 'department';
                    sort.agent.reverse = !sort.agent.reverse">
                    <i18n>department</i18n>
                    <i class="up-open" ng-show="sort.agent.type === 'department' && !sort.agent.reverse"></i>
                    <i class="down-open" ng-show="sort.agent.type === 'department' && sort.agent.reverse"></i>
                </td>
                <td ng-click="sort.agent.type = 'phone';
                    sort.agent.reverse = !sort.agent.reverse">
                    <i18n>phone</i18n>
                    <i class="up-open" ng-show="sort.agent.type === 'phone' && !sort.agent.reverse"></i>
                    <i class="down-open" ng-show="sort.agent.type === 'phone' && sort.agent.reverse"></i>
                </td>
                <td ng-click="sort.agent.type = 'email';
                    sort.agent.reverse = !sort.agent.reverse">
                    <i18n>email</i18n>
                    <i class="up-open" ng-show="sort.agent.type === 'email' && !sort.agent.reverse"></i>
                    <i class="down-open" ng-show="sort.agent.type === 'email' && sort.agent.reverse"></i>
                </td>
                </thead>
                <tbody>
                <tr ng-repeat="agent in agents.all | orderBy:sort.agent.type:sort.agent.reverse">
                    <td workflow="lystore.administrator">
                        <label class="checkbox">
                            <input type="checkbox" ng-model="agent.selected">
                            <span></span>
                        </label>
                    </td>
                    <td>[[agent.name]]</td>
                    <td>[[agent.department]]</td>
                    <td>[[agent.phone]]</td>
                    <td>[[agent.email]]</td>
                </tr>
                </tbody>
            </table>
        </article>
    </div>

    <lightbox show="display.lightbox.agent"
              on-close="cancelAgentForm()">
        <container template="agent.lightbox"></container>
    </lightbox>

    <section class="toggle-buttons" ng-class="{ hide: agents.selected.length === 0 }">
        <div class="toggle">
            <div class="row">
                <button ng-click="openAgentForm(agents.selected[0])" ng-show="agents.selected.length === 1">
                    <i18n>modify</i18n>
                </button>
                <button ng-click="openAgentsDeletion()"><i18n>delete</i18n></button>
            </div>
        </div>
    </section>
</div>